@import '../../../../styles/vars.css';

.root {
  composes: base from '../../../typography.module.css';
  padding: 2rem;
  cursor: pointer;
  border-radius: var(--border-radius-default);
  font-family: "Montserrat";
  font-weight: 700;
  outline: none;
  border: none;
  background-color: var(--color-accent);
  color: var(--color-primary);
  transition: background-color .1s ease-out;
  -webkit-user-select: none;    /* Safari */
  -webkit-touch-callout: none;  /* iOS Safari */
  -khtml-user-select: none;     /* Konqueror HTML */
  -ms-user-select: none;        /* Internet Explorer/Edge */
  -moz-user-select: none;       /* Old versions of Firefox */
   user-select: none;           /* Non-prefixed version*/

  @media (hover: hover) {
    @nest &:hover {
      background-color: var(--color-accent-dark);
    }
  }

  @nest &:disabled, &[disabled] {
    background-color: var(--color-grey-medium);
    opacity: .5;
    cursor: not-allowed;
  }
}