@import '../../../typography.module.css';
@import '../../../../styles/vars.css';


.root {
  display: flex;
  align-items: center;

  @nest & > svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.link {
  composes: link from '../../../typography.module.css';
  color: var(--color-text-medium);
  text-decoration: underline;
  cursor: pointer;
}
