@import '../../styles/vars.css';
@import '../typography.module.css';

.list {
  list-style: none;
  display: grid;
  row-gap: .5rem;
  align-content: start;
}

.title {
  composes: title6 from '../typography.module.css';
  color: var(--color-primary);
  margin-bottom: 1rem;
}