@import '../../styles/vars.css';
@import '../typography.module.css';

.root {
  list-style: none;
  display: grid;
  row-gap: 4rem;
  align-content: start;
}

.group {
  display: grid;
  row-gap: 1.5rem;
}

.title {
  composes: title6 from '../typography.module.css';
  color: var(--color-grey-medium);
}