@import '../styles/vars.css';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 100vh; */
}

.form-navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem 20%;
  background-color: var(--color-primary-medium);
}

.form-navigation-status {
  color: var(--color-grey-medium);
  composes: title5 from './typography.module.css';
}

.content {
  max-width: 1200px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  column-gap: 4rem;
  width: max-content;
  height: 100%;
  padding: 5rem 0;
  align-content: center;
}

.side-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-panel-content {
  justify-self: center;
  align-self: center;
  display: grid;
  row-gap: 2rem;
}

.side-panel-footer {
  display: grid;
  row-gap: 1rem;
}

.contact-link {
  color: var(--color-primary);
}

.fine-print {
  color: var(--color-grey-medium);
}

.cost-indicator {
  display: grid;
  row-gap: .5rem;
}

.cost-indicator-title {
  composes: title6 from './typography.module.css';
  margin-right: 1rem;
}

.cost-indicator-subtitle {
  color: var(--color-grey-medium);
}

.cost-indicator-cost {
  composes: title6 from './typography.module.css';
  font-weight: 400;
  color: var(--color-primary);

  @nest & > span {
    color: var(--color-grey-medium);
  }
}

/* Confirm Step */

.confirm-step-title {
  composes: title6 from './typography.module.css';
}

.confirm-container {
  display: grid;
  row-gap: 1rem;
}

.confirm-input {
  display: flex;
  align-items: center;
}

.confirm-input-title {
  composes: title6 from './typography.module.css';
  padding-right: 1rem;
}

.form-result {
  max-width: 600px;
  padding-top: 4rem;
  display: grid;
  align-items: center;
  row-gap: 2rem;
}