@import '../styles/vars.css';

.root {
  padding: 0;
  display: grid;
  grid-template-columns: .7fr .3fr;
  column-gap: 2rem;

  @nest &.reverse {
    grid-template-columns: .3fr .7fr;
  }

  @nest &.wide {
    grid-template-columns: .6fr .4fr;
    column-gap: 2rem;

    @nest &.reverse {
      grid-template-columns: .4fr .6fr;
    }
  }
}

.cta {
  display: grid;
  row-gap: 1rem;
  align-content: start;
  justify-items: start;

  @nest & > button {
    margin-top: 1.5rem;
  }
}

.title {
  composes: title3 from './typography.module.css';
}

.subtitle {
  composes: paragraphlarge from './typography.module.css';
}