@import '../styles/vars.css';
@import './typography.module.css';

.root {
  align-self: start;
  position: relative;
  background-color: var(--color-white);
  color: var(--color-black);
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--padding-x);

  @nest & > *:nth-child(2) {
    justify-content: center;
  }

  @nest & > *:last-child {
    justify-content: flex-end;
  }
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  composes: title4 from './typography.module.css';
  text-decoration: none;
  color: var(--color-primary);
}

.links {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
}


.link {
  display: flex;
  height: 100%;
  align-items: center;
  color: var(--color-primary);
  composes: link from './typography.module.css';

  @nest & > h3 {
    color: currentColor;
    cursor: default;
  }

  @nest & > svg {
    margin-left: 4px;
    width: .8rem;
    height: .8rem;
    fill: currentColor;
    stroke: currentColor;
  }

  @nest & > a {
    padding: 1.5rem .75rem;

    @nest &:hover {
      color: var(--color-secondary);
    }
  }
}

.dropdown-menu {
  opacity: 0;
  display: none;
  z-index: 99;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 2rem var(--padding-x);
  justify-content: center;
  background-color: var(--color-grey-xxlight);
  border-top: 1px solid var(--color-grey-xlight);
  border-bottom: 1px solid var(--color-grey-xlight);
  box-shadow: var(--shadow-main);

  @media(hover: hover) {
    @nest &:hover {
      display: flex;
    }
  }
}

.dropdown {
  padding: 0 .75rem;

  @nest & > svg {
    margin: 0;
    margin-left: .2rem;
  }

  @media(hover: hover) {
    @nest &:hover {
      color: var(--color-secondary);

      @nest & > .dropdown-menu {
        opacity: 1;
        display: flex;
      }
    }
  }
}

.dropdown-link {
  border-left: 1px solid var(--color-grey-xlight);

  @nest &:last-child {
    border-right: 1px solid var(--color-grey-xlight);
  }

  @nest & > a {
    padding: 2rem;
    color: var(--color-primary);

    @media(hover: hover) {
      @nest &:hover {
        color: var(--color-primary);
        background-color: var(--color-grey-xxlight);
      }
    }
  }
}

.dropdown-menu-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
}

.dropdown-cta {
  display: flex;
  max-width: 100%;
  flex-direction: column;

  @nest &:hover {

    @nest & > .dropdown-thumbnail {
      opacity: .8;
    }
  }

}

.dropdown-thumbnail {
  max-width: 100%;
  border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;
  transition: .2s ease-out;

  @nest & ~ .dropdown-title {
    padding: .5rem 0;
  }
}

.dropdown-title {
  display: flex;
  align-content: center;
  align-self: flex-start;
  color: currentColor;
  composes: small from './typography.module.css';
  font-family: var(--font-title);
  font-weight: 700;
  text-decoration: none;

  @nest & > span {
    display: flex;
    align-items: center;

    @nest & > svg {
      height: .8rem;
      width: .8rem;
      margin-left: .5rem;
    }
  }
}

.dropdown-menu-content-group {
  display: flex;
  flex-direction: column;
}

.dropdown-description {
  composes: small from './typography.module.css';
  font-family: var(--font-paragraph);
  font-weight: 400;
  color: var(--color-text-dark);
}

.user-dropdown {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  cursor: pointer;


  @nest & > svg {
    height: .75rem;
    width: .75rem;
    fill: var(--color-primary);
    margin-left: .25rem;
  }

  @nest &:hover > .user-dropdown-content {
    display: block;
  }
}

.user-name {
  font-family: var(--font-title);
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  font-weight: 400;
}

.user-dropdown-content {
  display: none;
  cursor: default;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
  padding: .5rem;
  border-radius: 0 0 var(--border-radius-default) var(--border-radius-default);
  background-color: var(--color-white);
  list-style: none;

  @nest & > li {
    height: max-content;
  }
}

.user-dropdown-item {
  padding: .5rem 1rem;
  color: var(--color-primary);
  display: flex;
  align-items: center;

  @nest &:hover {
    color: var(--color-secondary);
    background-color: var(--color-grey-xxlight);
    cursor: pointer;
    border-radius: var(--border-radius-default);
  }

  @nest & > svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
    margin-right: 1rem;
  }
}

.user-pic {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: .5rem;
}

.user-dropdown-link {
  padding: 0;
  text-decoration: none;
  color: inherit;
  composes: link from './typography.module.css';
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}