@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
  display: grid;
  justify-items: center;
  row-gap: 1.5rem;
}

.headline {
  composes: title6 from './typography.module.css';
  justify-self: start;
  color: var(--color-grey-medium);
  overflow-wrap: break-word;

  @nest & a {
    color: inherit;
    text-decoration: none;
  }
}

.grid {
  width: 100%;
  border-radius: 3px;
  display: grid;
  row-gap: 1rem;
  box-shadow: var(--shadow-component);
  list-style: none;
}

.browseMoreNav {
  composes: small from './typography.module.css';
  margin-top: 1rem;
  text-align: right;

  @nest & a {
    display: inline-block;
    padding: 0.5rem 0;
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }
}
