@import '../styles/vars.css';
@import './typography.module.css';

.root {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  column-gap: 1.5rem;
  grid-template-columns: .35fr .65fr;
  padding: 1rem;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-shallow);
  cursor: pointer;
  background-color: var(--color-white);
  text-decoration: none;
  color: inherit;
  border: 1px solid var(--color-grey-xlight);
  transition: box-shadow .2s ease-out;

  @media(hover: hover) {
    @nest &:hover {
      box-shadow: var(--shadow-dark);
      z-index: 3;
      position: relative;
      
      @nest & > .content > .titles > .title {
        color: var(--color-secondary);
      }
    }
  }
}

.thumbnail {
  width: max-content;
  max-width: 100%;
  height: auto;
}

.content {
  padding: 1rem;
  padding-left: 0;
  display: grid;
  align-content: space-between;
  row-gap: 1rem;
}

.titles {
  display: grid;
  row-gap: 1rem;
  color: var(--color-text-dark);
}

.title {
  transition: color .2s ease-out;
  composes: title5 from './typography.module.css';
}

.excerpt {
  composes: paragraphmain from './typography.module.css';
}

.meta {
  display: flex;
  justify-content: space-between;
}

.meta-item {
  display: flex;
  align-items: center;

  @nest & > svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-text-light);
    margin-right: .5rem;
  }
}

.meta-item-label {
  composes: title6 from './typography.module.css';
  color: var(--color-text-light);
}

.meta-item-info {
  display: flex;
  align-items: center;
  composes: small from './typography.module.css';
  font-family: var(--font-title);
  font-weight: 400;
  color: var(--color-text-medium);

  @nest & > span {
    margin-left: .3rem;
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-secondary);
  }
}