@import '../styles/vars.css';

.root {
  display: flex;
  max-width: 100%;
}

.content {

}

.icon {
  min-width: 1.25rem;
  min-height: 1.25rem;
  fill: var(--color-accent);
  margin-right: 1rem;
}

.quote {
  font-style: italic;
  composes: paragraphmain from './typography.module.css';

  margin-bottom: 1.25rem;
}

.bio {
  display: flex;
  align-items: center;
}

.bio-content {
  
}

.bio-pic {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  margin-right: .75rem;
  object-fit: cover;
}

.bio-name {
  font-family: 'Montserrat';
  font-weight: 700;
  composes: base from './typography.module.css';
  line-height: 1.5;
}

.bio-location {
  display: flex;
  align-items: center;

  @nest & > svg {
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--color-secondary);
    margin-right: .25rem;
  }
}

.bio-location-title {
  color: var(--color-secondary);
  composes: titlesub from './typography.module.css';
}